.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field {
  background-color: #f4a678;
  display: grid;
  grid-template-columns: repeat(10, 20px);
  grid-template-rows: repeat(10, 20px);
  gap: 1px;
  margin: auto;
  width: fit-content;
}

.cell {
  height: 20px;
  width: 20px;
  border-radius: 5px;
  background-color: #444241;
}

.snake {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-color: #29d429;
  border-radius: 50%;
}

.head {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-color: #29d429;
  border-radius: 50%;
}

/* Left Eye */
.head::before {
  content: "";
  position: absolute;
  width: 10%;
  height: 10%;
  background-color: black;
  border-radius: 50%;
  top: 30%;
  left: 35%;
}

/* Right Eye */
.head::after {
  content: "";
  position: absolute;
  width: 10%;
  height: 10%;
  background-color: black;
  border-radius: 50%;
  top: 30%;
  left: 55%;
}

.food {
  background-color: #ff0000;
}

.hidden {
  display: none;
}

.score-container {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}
